settings.json
log.json
feeds.json
*.pyc
__pycache__
lib
.vscode
data/RSS
data/audio
data/downloader
data/economy
data/gab
data/casino
data/JumperCogs
data/leveler
data/mod
data/permissions
data/badges/temp
data/badges/logos
data/red
data/rss
!data/trivia/*
!data/audio/playlists/*
!data/dnd/donotdo.json
*.exe
*.dll
data/streams/picarto.json
data/fourinarow/fourinarow.log
data/reee/newreee.png
data/blockchain/rpclogin.json
data/blockchain/idata.txt
data/blockchain/odata.jpg
data/blockchain/originaldata.jpg
data/blockchain/originaldata.txt
data/blockchain/sdata.txt
